__pycache__
*.pyc

photod-frontend/docs/
photod-frontend/node_modules/
photod-frontend/public/

photod-backend/env/
photod-backend/cache/
photod-backend/data/
photod-backend/photod/settings/local.py
photod-backend/photod/settings/build.py
photod-backend/photod/database.db
