{
    "presets": [
        ["env", {
            "targets": {
                "chrome": 59
            },
            "modules": false,
        }],
        "stage-0",
        "react"
    ],
    "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-react-display-name",
        "react-hot-loader/babel"
    ],
    "env": {
        "development": {
            "plugins": []
        },
        "production": {
            "plugins": [
                "transform-react-inline-elements",
                "transform-react-constant-elements",
                "transform-react-remove-prop-types"
            ]
        }
    }
}
