{% load tz %}
{% get_current_timezone as TIME_ZONE %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="BasilFX">
        <meta name="description" content="Photod" />
        <meta name="keywords" content="Photod, photo management, album" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Photod</title>

        {% if settings.STYLE_URL %}
            <link type="text/css" rel="stylesheet" href="{{ settings.STYLE_URL }}">
        {% endif %}

        <script type="text/javascript">
            /**
             * Callback for application code to return the application
             * configuration.
             *
             * @return {object} Application configuration.
             */
            function getApplicationConfig() {
                {% if settings.FRONTEND %}
                    return {{ settings.FRONTEND|safe }};
                {% else %}
                    return {};
                {% endif %}
            }

            /**
             * Callback for application code to load the current user details,
             * if the user is already signed in.
             *
             * @return {object|null} Current user, if signed in.
             */
            function getApplicationUser() {
                {% if user %}
                    return {{ user|safe }};
                {% else %}
                    return null;
                {% endif %}
            }

            /**
             * Callback for returning the application-wide timezone.
             *
             * @return {string} Application timezone.
             */
            function getApplicationTimezone() {
                return '{{ TIME_ZONE|safe }}';
            }
        </script>
    </head>
    <body>
        <div id="react"></section>
        <script type="text/javascript" src="{{ settings.BUNDLE_URL }}"></script>
    </body>
</html>
